.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: ( 100% / $i );
		}
	}
}

.gallery-caption {
	display: block;
}

// Portfolio and Projects Plugin
ul.wppap-thumbs li a.wppap-thumbnail {
	margin: 25px;
}
.wppap-main-wrapper {
    margin-left: -15px;
}

//Freeland Portfolio
.portfolio-gallery {
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 50px;
    img {
	    border: 5px solid $portfolio;
		padding: 10px;
    }
}