#header.hero {
	background-color: $navBg;
	border: $lightGrey;
	.hero-head {
		a.nav-item.is-brand {
			color: $logoColor;
		}
		.nav-right {	
			border: $lightGrey;	
			.nav-item.is-tab:hover {
				background-color: $navBgHover;
			}
			.nav-item.is-tab.active {
				background-color: $navBgFocus;
			}
		}
	}
}

footer {
	background-color: $charcoal;
	color: $offWhite;
	a {
		color: $rose-link;
	}
	a:hover, a hover {
		color: $rose;
	}
}

