	
	#page {
		background-color: $softGrey;
		.container {
			padding: 15px 30px;
		}
		.container.is-fluid {
			margin: 0;
			padding: 0;
		}
	}


#header.hero {
	border: 1px solid $lightGrey;
	.hero-head {
		.container {
				padding: 0;
				max-width: 95%;
			.nav-left {
				a.nav-item.is-brand {
			    	padding: 0 5px;
				}
				img.custom-logo {
				    max-height: 50px;
				    width: auto;
				}				
			}
			.nav-right {	
				border-top: 1px solid $lightGrey;
				flex-wrap: nowrap;
				.nav-item.is-tab:hover {
					border: none;
				}
				.nav-item.is-tab.is-active {
					border: none;
				}
				li.nav-item.is-tab:last-child a {
			    padding: 5px;
			    margin: -5px;
			    border: 4px double;
				}
			}
		}
	}
}

span.edit-link {
    display: none;
}

.square-outer {
	background: url(images/marble_bg.png) no-repeat center center fixed;
    background-size: cover;
    margin: 30px 15px;
    padding: 18px;
}
.square-inner {
	background-color: $offWhite;
	padding: 30px;
}

.pic-border {
    padding: 8px;
    border: 2px solid $softGrey;
}

.hire .fa {
    font-size: 30px;
    margin: 24px 5px;
}
.social .fa {
    font-size: 30px;
    margin-right: 10px;
}
.fa-github {
    color: $github;
}
.fa-linkedin-square {
    color: $linkedin;
}
.fa-twitter {
	color: $twitter;
}
.fa-skype {
	color: $skype;
}

// Hire Me

ul.wppap-thumbs li.wppap-content .wppap-close {
	color: $turquoise;
}

a.wppap-thumbnail {
    margin: 25px;
}

@media screen and (min-width: 769px) { //bigger than tablet	
	.container.is-fluid {
		padding: 0 20px;	    
	}	
}

@media screen and (max-width: 374px) { // XS mobile view
	#header.hero {
		.hero-head {
			.container {
				.nav-left {
					a.nav-item.is-brand {
						font-size: 10vw;
					}
				}
			}
		}
	}
}