h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font_header;
}

h1 {
	font-size: 1.8rem;
	margin: 0 0 .67em;
}
h2 {
	margin: 0 0 15px;
    font-size: 1.5rem;
}
h3 {
	margin: 0 0 15px;
    font-size: 1.5rem;
}
p {
	margin: 1em 0;
}

.content a:not(.button) {
    border: 0;
}

#header.hero {
	.hero-head {
		a.nav-item.is-brand {
		font-family: $font_logo;
		font-size: 2.5rem;
		}
	}
}
