footer {
    padding: 25px;
    text-align: center;
    background-color: $primaryDark;
    color: $secondaryLight;
    a, a hover, a:hover, a active, a:active, a visited, a:visited {
    	color: $secondaryLight;
    }
}