.clear {
	clear: both;
}

.pic-border {
    padding: 8px;
    border: 2px solid #f2f3f5;
}

.entry-header {
	background: url(images/marble_bg2.png) no-repeat center; 
	background-size: cover;
	padding: 100px;
	.entry-title {
		text-align: center;
		background-color: $text-underlay;
	    padding: 50px;
    	width: 50%;
    	margin: 0 auto;
    	border: 2px solid $secondaryLight;
	}
}

.page-content, .entry-content, .entry-summary {
    margin: 1.5em 0 0;
    margin: 50px auto;
    padding: 50px;
    background-color: $secondaryLight;
}

.info-square-outer {	
	background: url(images/marble_bg.png) no-repeat center center fixed;  
	background-size: cover;		    		
	margin: 30px 15px;
	    padding: 18px;
		.info-square-inner {
			background-color: $secondaryLight;
			padding: 30px;
	}				
}

.text-box {
	    border: 8px solid $text-frame;
	    margin: 20px 0;				
}

//PROCESS
.process {
    margin-bottom: 50px;
    .col-md-3.text-box {
    margin: 0 10px;
    width: 22%;
	}
}

//PORTFOLIO
.folio h3, .folio .h3 {
    margin-top: 0;
}

//HIRE
.hire {
	a.btn.btn-info {
    margin-top: -15px;
	}
	.fa {
    font-size: 30px;
    margin: 20px 5px;
	}
}

a.btn.btn-info {
    font-size: 18px;
}

a.wppap-project-url-btn {
    display: none;
}


@media (max-width: $screen-sm-min) {
	.page-content, .entry-content, .entry-summary {
		width: 90%;
	}
}
@media (min-width: $screen-md-min) {
	.page-content, .entry-content, .entry-summary {
		width: 750px;
	}
}
@media (min-width: $screen-lg-min) {
	.page-content, .entry-content, .entry-summary {
		width: 970px;
	}
}
@media (min-width: $screen-xl-min) {
	.page-content, .entry-content, .entry-summary {
		width: 1170px;
	}
}