$text-main: #383838;
$text-underlay: rgba(255, 255, 255, .7);
$color-background: #f2f3f5;
$primaryLight: #f2f3f5;
$secondaryLight: #ffffff;
$primaryDark: #383838;
$positive: #b6e0ae;

$portfolio: #cedde8;
$text-frame: #cedde8;

$skype: #00b0f0;
$linkedin: #0077B5;
$twitter: #1da1f3;
$github: #6e5494;

